{% extends 'templates/base.twig' %}

{% block body %}

    <b>This is a Simple PHP Framework Application</b><br/>
    {{example_var}}
    <br/><br/>
    
    <h3>MOD REWRITE enabled</h3>
    
    <a href="{{path}}main/index">Main page</a><br/>
    <a href="{{path}}main/phpView">PHP View page</a><br/>
    <a href="{{path}}main/other">Other page</a><br/>
    
    <h3>MOD REWRITE disabled</h3>
    
    <a href="{{path}}?page=main/index">Main page</a><br/>
    <a href="{{path}}?page=main/phpView">PHP View page</a><br/>
    <a href="{{path}}?page=main/other">Other page</a><br/>
    
{% endblock %}